venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
*.keras
*.h5
modelo_precio.pkl
modelo_popularidad.pkl
modelo_precio_tf/
productos_popularidad.csv
node_modules
venv/
venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
*.keras
*.h5
modelo_precio.pkl
modelo_popularidad.pkl
modelo_precio_tf/*
